<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <h2>Total Price: <%= totalPrice %></h2>
                </div>
                <div class="centered">
                    <button id="order-id" class="btn">Order</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe(`pk_test_51PwjzgBwQmhPAqF7ElOonZ2QV5uU7QnCPpZsCwnWqg6FRD7iBmOGLNdAoLStYA9GcBBb7etmcZmtazl5291kQEc400ZdOaCFSZ`);
                    var orderButton = document.getElementById('order-id');
                    orderButton.addEventListener(`click`, function(){
                        stripe.redirectToCheckout({
                            sessionId: `<%= stripeSessionId %>`
                        })
                    })
                </script>
                </div>
                
            <% } else { %>
                <h1>No Products are ordered!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>