<%- include(`../includes/head.ejs`) %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include(`../includes/navigation.ejs`) %>

            <main>
                <div class="product-detail">
                    <h1><%= product.title %></h1>
                    <hr>
                    <div>
                        <img src="<%= product.imageURL %>" alt="<%= product.title %>">
                    </div>
                    <h2>$<%= product.price %></h2>
                    <p><%= product.description %></p>
                    <%- include(`../includes/add-to-cart.ejs`) %>
                </div>
            </main>
            <%- include(`../includes/end.ejs`) %>